<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SMDRReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Port" value="1150" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SMDRReader.Properties.Settings>
      <setting name="ExtKey" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>101=23232323232323</string>
            <string>102=23235325235235</string>
            <string>103=34534534534534</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ApiEndPoint" serializeAs="String">
        <value>https://www.google.com</value>
      </setting>
      <setting name="ServerAddr" serializeAs="String">
        <value>192.168.1.101</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>2300</value>
      </setting>
      <setting name="BufferSize" serializeAs="String">
        <value>168</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>C:\CallerIdLogFiles</value>
      </setting>
      <setting name="DefaultKey" serializeAs="String">
        <value>9ca529b0-6233-41ad-9c22-5de06b1260fa</value>
      </setting>
    </SMDRReader.Properties.Settings>
  </userSettings>
</configuration>